$xivita__purple: #877fae !default;
$xivita__green: #75b320 !default;
$xivita__green-2: #6b993d !default;
$xivita__green-3: #638c0b !default;
$xivita__dark-green: #284b26 !default;
$xivita__red: #a62137 !default;
$xivita__red-3: #cc2944 !default;
$xivita__dark-red: #781a1a !default;
$xivita__dark-red-2: #662933 !default;
$xivita__light-blue: #5990ff !default;
$xivita__blue: #4c7ee8 !default;
$xivita__blue-2: #4769b3 !default;
$xivita__blue-3: #2556b8 !default;
$xivita__azure: #e1edfa !default;
$xivita__azure-2: #91c2f2 !default;
$xivita__azure-3: #e1edfa !default;
$xivita__white: #ffffff !default;
$xivita__white-2: #f2f2f2 !default;
$xivita__white-3: #fffafd !default;
$xivita__brown: #663d29 !default;
$xivita__dark-grey: #24252d !default;
$xivita__grey: #999999 !default;
$xivita__grey-2: #3f3f3f !default;
$xivita__light-grey: #585858 !default;
$xivita__light-grey: #585858 !default;
$xivita__black: #1a1a1a !default;
$xivita__yellow: #f6c011 !default;
$xivita__orange: #e67e17 !default;
$xivita__orange-2: #e57e17 !default;
$xivita__pink: #e65c8a !default;
$xivita__pink-2: rgb(255,245,252) !default;
$xivita__pink-3: #faa2c0 !default;
$xivita__gs: #663d29 !default;
$xivita__chocobo_color: #e6b673 !default;
$xivita__chocobo_color-2: #faefe1 !default;
$xivita__minion_color: #b6aaf2 !default;
$xivita__minion_color-2: #e5e1fa !default;
$xivita__minion_color-3: #e0c55a !default;
$xivita__minion_color-4: #faf5e1 !default;
$xivita__gold_saucer_quest: rgba(89, 81, 76, 0.1) !default;
$xivita__gold_saucer_info: rgba(89, 81, 76, 0.05) !default;
$xivita__gold_saucer_visual-text-background: #2e230e !default;
$xivita__gold_saucer_visual-text-color: #ccaa66 !default;
$xivita__gradient1__color-1: #c01f1f !default;
$xivita__gradient1__color-2: #d93333 !default;
$xivita__gradient2__color-1: #ea6a9b !default;
$xivita__gradient2__color-2: #e24e79 !default;
$xivita__home-red: #c36 !default;
$xivita__blue: #2c21a6 !default;
$xivita__blue-1: #5749f2 !default;
$xivita__txt-rarity_common: #f3f3f3 !default;
$xivita__txt-rarity_uncommon: #c0ffc0 !default;
$xivita__txt-rarity_magic: #d789b6 !default;
$xivita__txt-rarity_artifact: #e5dd7e !default;
$xivita__txt-rarity_legend: #ffa666 !default;
$xivita__txt-rarity_epic: #b38cff !default;
$xivita__txt-rarity_rare: #5990ff !default;
$xivita__txt_durability_calc_000: #e56674 !default;
$xivita__txt_durability_calc_010: #ffd966 !default;
$xivita__txt_durability_calc_099: #e5e5e5 !default;
$xivita__txt_durability_calc_100: #a5d841 !default;
$xivita__goldsaucer__wrapper: #4c7ee8 !default;
$xivita__goldsaucer__visual: #1b0f27 !default;
$xivita__goldsaucer__control-border: #b5b5b3 !default;
