// H overrides
.article-post {
  h1, h2, h3, h4, h5, h6 {
	text-decoration: none !important;
  }
}
//Rss Icon override
.rss-widget-icon {
  display: none !important;
}

aside {
  .widget_rss {
	li {
	  &:before {
		margin-right: 10px !important;
		content: '\f0ad';
	  }
	}
  }
}

// Admin Bar
.wp-admin-bar-stats {
  display: none !important;
}

#wp-admin-bar-wp {
  &-logo {
	display: none !important;
  }

  &-search {
	display: none !important;
  }

  &-new {
	&-content {
	  display: none !important;
	}
  }

  &-stats {
	display: none !important;

  }
}

#search-form {
  display: none  !important;
}

#wpnt-notes-unread-count {
  display: none !important;
}

// Colors
.verde {
  color: $xivita__lime-green !important;
}

// Notes
.info_note {
  color: $xvita__crimson-red !important;
  font-size: inherit !important;
}

// Clearfix
.clearfix {
  &:after {
	content: " " !important;
	display: block !important;
	visibility: hidden !important;
	height: 0 !important;
	font-size: 0.1em !important;
	line-height: 0 !important;
	clear: both !important;
  }
}
// Valentione Old Style
.lista_decorazioni {
  display: flex !important;
  justify-content: space-between !important;
  margin-bottom: 48px !important;
  padding: 2px !important;

  ul {
	margin-block-start: 1em !important;
	margin-block-end: 1em !important;
	margin-inline-start: 0 !important;
	margin-inline-end: 0 !important;
	padding-inline-start: 40px !important;
  }

  li {
	width: 288px !important;
	list-style: none !important;
	margin-right: 10px !important;

	img {
	  width: 100% !important;
	  height: auto !important;
	  display: block !important;
	}
  }
}

.info {
  &__lead {
	margin-bottom: 32px !important;
	font-size: 18px !important;
	font-weight: bold !important;
	color: $xivita__dark-pink !important;
	text-align: center !important;
  }

  &__decorazioni {
	display: flex !important;
	border-radius: 16px !important;
	overflow: hidden !important;
	margin-bottom: 48px !important;
  }
}

.box__decorazione__evento {
  padding: 12px 32px 10px !important;
  width: 50% !important;
  box-sizing: border-box !important;
  background: linear-gradient(to right, $xivita__firebrick-red 0%, $xivita__persian-red 100%) !important;

  &:nth-child(2) {
	background: linear-gradient(to right, $xivita__pale-violet-red 0%, $xivita__crumberry_pink 100%) !important;
  }

  p {
	margin-bottom: 6px !important;
	font-size: 18px !important;
	font-weight: bold !important;
	color: $xivita__white !important;
	text-align: center !important;
	line-height: 1.5 !important;
	font-feature-settings: "palt" !important;
	font-family: 'Noto Sans', sans-serif !important;
  }
}

hr {
  box-sizing: border-box !important;
  height: 0 !important;
  overflow: visible !important;
}

pre {
  font-family: monospace, monospace !important;
  font-size: 1em !important;
}

a {
  background-color: transparent !important;
}

abbr[title] {
  border-bottom: none !important;
  text-decoration: underline dotted;
  -moz-text-decoration-style: dotted;
}
b, strong {
  font-weight: bolder !important;
}

code, kbd, samp {
  font-family: monospace, monospace !important;
  font-size: 1em !important;
}

small {
  font-size: 80% !important;
}

sub, sup {
  font-size: 75% !important;
  line-height: 0 !important;
  position: relative !important;
  vertical-align: baseline !important;
}

sub {
  bottom: -.25em !important;
}

sup {
  top: -.5em !important;
}

img {
  border-style: none !important;
}

button, input, optgroup, select, textarea {
  font-family: inherit !important;
  font-size: 100% !important;
  line-height: 1.15 !important;
  margin: 0 !important;
}

button, input {
  overflow: visible !important;
}

button, select {
  text-transform: none !important;
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number] {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
	height: auto;
  }
}
details {
  display: block !important;
}

 summary {
   display: list-item !important;
 }
