$xivita__purple: #877fae;
$xivita__green: #75b320;
$xivita__green-2: #6b993d;
$xivita__green-3: #638c0b;
$xivita__dark-green: #284b26;
$xivita__red: #a62137;
$xivita__red-3: #cc2944;
$xivita__dark-red: #781a1a;
$xivita__dark-red-2: #662933;
$xivita__light-blue: #5990ff;
$xivita__blue: #4c7ee8;
$xivita__blue-2: #4769b3;
$xivita__blue-3: #2556b8;
$xivita__azure: #e1edfa;
$xivita__azure-2: #91c2f2;
$xivita__azure-3: #e1edfa;
$xivita__white: #ffffff;
$xivita__white-2: #f2f2f2;
$xivita__white-3: #fffafd;
$xivita__brown: #663d29;
$xivita__dark-grey: #24252d;
$xivita__grey: #999999;
$xivita__grey-2: #3f3f3f;
$xivita__light-grey: #585858;
$xivita__light-grey: #585858;
$xivita__black: #1a1a1a;
$xivita__yellow: #f6c011;
$xivita__orange: #e67e17;
$xivita__orange-2: #e57e17;
$xivita__pink: #e65c8a;
$xivita__pink-2: rgb(255,245,252);
$xivita__pink-3: #faa2c0;
$xivita__gs: #663d29;
$xivita__chocobo_color: #e6b673;
$xivita__chocobo_color-2: #faefe1;
$xivita__minion_color: #b6aaf2;
$xivita__minion_color-2: #e5e1fa;
$xivita__minion_color-3: #e0c55a;
$xivita__minion_color-4: #faf5e1;
$xivita__gold_saucer_quest: rgba(89, 81, 76, 0.1);
$xivita__gold_saucer_info: rgba(89, 81, 76, 0.05);
$xivita__gold_saucer_visual-text-background: #2e230e;
$xivita__gold_saucer_visual-text-color: #ccaa66;
$xivita__gradient1__color-1: #c01f1f;
$xivita__gradient1__color-2: #d93333;
$xivita__gradient2__color-1: #ea6a9b;
$xivita__gradient2__color-2: #e24e79;
$xivita__home-red: #c36;
$xivita__blue: #2c21a6;
$xivita__blue-1: #5749f2;
$xivita__txt-rarity_common: #f3f3f3;
$xivita__txt-rarity_uncommon: #c0ffc0;
$xivita__txt-rarity_magic: #d789b6;
$xivita__txt-rarity_artifact: #e5dd7e;
$xivita__txt-rarity_legend: #ffa666;
$xivita__txt-rarity_epic: #b38cff;
$xivita__txt-rarity_rare: #5990ff;
$xivita__txt_durability_calc_000: #e56674;
$xivita__txt_durability_calc_010: #ffd966;
$xivita__txt_durability_calc_099: #e5e5e5;
$xivita__txt_durability_calc_100: #a5d841;
$xivita__goldsaucer__wrapper: #4c7ee8;
$xivita__goldsaucer__visual: #1b0f27;
$xivita__goldsaucer__control-border: #b5b5b3;




// Nuovi Colori
$xivita__whisper-grey: #e5e5e5 !default;
$xvita__bombey-grey: #b5b5b3 !default;
$xivita__eclipse-grey: #3c3c3c !default;
$xivita__nobel-gray: #999999 !default;
$xivita__eclipse-grey-2: #3f3f3f !default;
$xivita__lightshade-grey: #cdcdcd !default;
$xivita__tundora-grey: rgba(89, 81, 76, 0.1) !default;
$xivita__tundora-grey-2: rgba(89, 81, 76, 0.05) !default;
$xivita__blackrussian_grey: #24252d !default;
$xivita__darkcharcoal-grey: #333333 !default;
$xivita__darkshadow-grey: #666666 !default;
$xivita__shadow-grey: #3d3d3d !default;
$xivita__veryshadow-grey: #1b1b1b !default;
$xivita__black: #1a1a1a !default;
$xivita__black-2: #1c1c1c !default;
$xivita__isthenewblack: #000000 default;
$xivita__blackcurrant-purple: #1b0f27 !default;
$xivita__audi-black: #1f1f1f !default;
$xivita__graphite-black: #2e2e2e !default;
$xivita__silver: #737880 !default;
$xivita__silver-2: #505459 !default;
$xivita__deluge-red: #877fae !default;
$xivita__lime-green: #75b320 !default;
$xivita__limeade-green: #6b993d !default;
$xivita__olive-green: #638c0b !default;
$xivita__myrtle-green: #284b26 !default;
$xivita__granny-apple-green: #c0ffc0 !default;
$xivita__atlantis-green: #a5d841 !default;
$xvita__crimson-red: #a62137 !default;
$xivita__brick-read: #cc2944 !default;
$xivita__falu-red: #781a1a !default;
$xivita__firebrick-red: #c01f1f !default;
$xivita__persian-red: #d93333 !default;
$xivita__monarch-red: #662933 !default;
$xivita__cornflower-blue: #5990ff !default;
$xivita__cornflower-2: #91c2f2 !default;
$xivita__royal-blue: #4c7ee8 !default;
$xivita__mariner-blue: #4769b3 !default;
$xivita__cerulian-blue: #2556b8 !default;
$xivita__ultramarine-blue: #2c21a6 !default;
$xivita__nenon-blue: #5749f2 !default;
$xivita__biloba-blue: #b38cff !default;
$xivita__solitude-white: #e1edfa !default;
$xivita__white: #FFF !default;
$xivita__whhite-smoke: #f2f2f2 !default;
$xivita__whhite-smoke: #f3f3f3 !default;
$xivita__lavender-blush: #fffafd !default;
$xivita__lavender-blush-2: #fff5fc !default;
$xivita__bride-heat-white: #faefe1 !default;
$xivita__newamber-brown: #663d29 !default;
$xivita__blackmagic-brown: #2e230e !default;
$xivita__putty-brown: #ccaa66 !default;
$xivita__moon-yellow: #f6c011 !default;
$xivita__texas_yellow: #e5dd7e !default;
$xivita__dandelion-yelllow: #ffd966 !default;
$xivita__banana-yellow: #bfa34c !default;
$xivita__harvest-gold: #e6b673 !default;
$xivita__gold: #8c7a48 !default;
$xivita__dark-gold: #665833 !default;
$xivita__light-gold: #ffe699 !default;
$xivita__carrot-orange: #e67e17 !default;
$xivita__carrot-orange-2: #e57e17 !default;
$xivita__dark-pink: #e65c8a !default;
$xivita__carnation-pink: #faa2c0 !default;
$xivita__hit-pink: #ffa666 !default;
$xivita__crumberry_pink: #e24e79 !default;
$xivita_shocking-pink: #d789b6 !default;
$xivita__pale-violet-red: #ea6a9b !default;
$xivita__froly-red: #e56674 !default;
$xivita_cerise-pink: #c36 !default;
$xivita__melrose-pink: #b6aaf2 !default;

