@import "../../globals/xivita-colors";
.icon-authorsocial {
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: .01em !important;
  padding: .3em !important;
  background-color: $xivita__moon-yellow !important;
  border-radius: .5em !important;
  height: 32px !important;
  svg {
	fill: $xivita__black !important;
	height: 1em !important;
	width: auto !important;
	margin-top: 9px !important;
  }
  a {
	display: inline-flex !important;
	justify-content: center !important;
	align-items: center !important;
  }
}

.icon-streamersocial {
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: .01em !important;
  padding: .3em !important;
  background-color: $xivita__moon-yellow !important;
  border-radius: .5em !important;
  height: 32px !important;
  svg {
	fill: $xivita__black !important;
	height: 1em !important;
	width: auto !important;
	margin-top: 0 !important;
  }
}
.pp-multiple-authors-wrapper, multiple-authors-target-shortcode, pp-multiple-authors-layout-boxed{
  .avatar {
	position: static !important;
	float: left !important;
	margin-right: 1em !important;
	width: 80px !important;
	height: 80px !important;
	min-height: 80px !important;
	border-radius: .5em !important;
  }
  .photo {
	position: static !important;
	float: left !important;
	margin-right: 1em !important;
	width: 80px !important;
	height: 80px !important;
	min-height: 80px !important;
	border-radius: .5em !important;
  }
}
.xivita-author {
  .author-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1240px;
	padding-left: 14px;
	padding-right: 14px;
  }
  .author-wrapper {
	display: flex;
	flex-wrap: wrap;
  }
  &.author-center .author-wrapper {
	align-items: center;
	justify-content: space-around;
  }
  .author-textcenter {
	text-align: center;
  }
  .author-entry {
	background: $xivita__blackrussian_grey;
	border-radius: 1em;
	display: flex;
	flex: 0 1 22em;
	margin: .5rem;
	max-width: 80vw;
	padding: 1em;
  }
  .author-avatar {
	height: auto;
	padding: .5em;
	width: 6em;
	img {
	  border-radius: 50%;
	}
  }
  .author-details-name {
	font-family: Dragon Fire, Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, "Droid Serif", Times, "Source Serif Pro", serif;
	letter-spacing: .1em;
	text-transform: uppercase;
  }
  .author-details-character {
	display: block;
	font-size: 0.8em;
  }
  .author-social {
	font-size: 1.35em;
	margin-top: 0.5rem;
	a {
	  align-items: center;
	  display: inline-flex;
	  justify-content: center;
	}
  }
}
