// Icons
.icon-{
  &c--1{
	width: 48px !important;
	height: 48px !important;
	background-position: -432px 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
  }
  &c--2{
	width: 48px !important;
	height: 48px !important;
	background-position: -240px 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
  }
  &c--3 {
	width: 48px !important;
	height: 48px !important;
	background-position: 0 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
  }
  &c--4 {
	width: 48px !important;
	height: 48px !important;
	background-position: -192px 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
  }
  &c--5 {
	width: 48px !important;
	height: 48px !important;
	background-position: -528px 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
  }
  &c--6 {
	width: 48px !important;
	height: 48px !important;
	background-position: -288px 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
  }
  &c--7 {
	width: 48px !important;
	height: 48px !important;
	background-position: -144px 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
  }
  &c--8 {
	width: 48px !important;
	height: 48px !important;
	background-position: -96px 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
  }
  &c--9 {
	width: 48px !important;
	height: 48px !important;
	background-position: -336px 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
  }
  &c--10 {
	width: 48px !important;
	height: 48px !important;
	background-position: -48px 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
  }
  &c--11 {
	width: 48px !important;
	height: 48px !important;
	background-position: -384px 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
  }
  &-c--12 {
	width: 48px !important;
	height: 48px !important;
	background-position: -384px 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
  }
  &c--13 {
	width: 48px !important;
	height: 48px !important;
	background-position: -480px 0 !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png) !important;
	background-repeat: no-repeat !important;
	margin-bottom: 0 !important;
  }
  &c__worldstatus--1 {
	width: 16px !important;
	height: 16px !important;
	background-position: -290px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	  background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
  }
  &c__worldstatus--2 {
	width: 16px !important;
	height: 16px !important;
	background-position: -306px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
  }
  &c__worldstatus--3 {
	width: 16px !important;
	height: 16px !important;
	background-position: -322px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
  }
  &c__skill--deffender {
	width: 32px !important;
	height: 32px !important;
	background-position: -153px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
  }
  &c__skill--healer {
	width: 32px !important;
	height: 32px !important;
	background-position: -185px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
  }
  &c__skill--attacker {
	width: 32px !important;
	height: 32px !important;
	background-position: -121px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
  }
  &c__fire {
	width: 19px !important;
	height: 16px !important;
	background-position: -83px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
	display: inline-block !important;
	vertical-align: middle !important;
  }
  &c__ice {
	width: 19px !important;
	height: 16px !important;
	background-position: -102px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
	display: inline-block !important;
	vertical-align: middle !important;
  }
  &c__wind {
	width: 19px !important;
	height: 16px !important;
	background-position: -271px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
	display: inline-block !important;
	vertical-align: middle !important;
  }
  c__earth {
	width: 19px !important;
	height: 16px !important;
	background-position: -64px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
	display: inline-block !important;
	vertical-align: middle !important;
  }
  &c__thunder {
	width: 19px !important;
	height: 16px !important;
	background-position: -233px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
	display: inline-block !important;
	vertical-align: middle !important;
  }
  &c__water {
	width: 19px !important;
	height: 16px !important;
	background-position: -252px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
	display: inline-block !important;
	vertical-align: middle !important;
  }
  &c__star {
	width: 16px !important;
	height: 16px !important;
	background-position: -217px 0 !important;
	-moz-background-size: 338px auto !important;
	-o-background-size: 338px auto !important;
	-webkit-background-size: 338px auto !important;
	background-size: 338px auto !important;
	display: block !important;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png) !important;
	background-repeat: no-repeat !important;
  }

}
