@import "../../../reset/variables";
.PadBtnLT {
  background: url(https://img.finalfantasyxiv.com/lds/h/I/jVWnp2qwHnggR4AtxcYR4PqrcA.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnL2 {
  background: url(https://img.finalfantasyxiv.com/lds/h/V/HHK-PoL3pHcAdF3c7ytmxmQMZg.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnRT {
  background: url(https://img.finalfantasyxiv.com/lds/h/J/8BFz4fg0w31izapyxlLEeguu_A.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnR2 {
  background: url(https://img.finalfantasyxiv.com/lds/h/v/wR5jrdj16jiyEpUdLeeBNOs6Sw.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirL {
  background: url(https://img.finalfantasyxiv.com/lds/h/W/LTAc7RFTA7lX2hMt7AzDDu3H4I.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirU {
  background: url(https://img.finalfantasyxiv.com/lds/h/o/Sw9laupNVTKLmcoE7-hhLpgbTw.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirR {
  background: url(https://img.finalfantasyxiv.com/lds/h/f/2oxKxhGBP4m-MFqhwwhLCDAB4U.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirD {
  background: url(https://img.finalfantasyxiv.com/lds/h/i/3GQLIv1iAEFwSr7nSV-pQwHSis.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnX {
  background: url(https://img.finalfantasyxiv.com/lds/h/p/DDowVZXExqrM7yoOwSCcu9DJm8.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnRECT {
  background: url(https://img.finalfantasyxiv.com/lds/h/x/wY5Oyml6ZOvyIT75uu9OpSYus0.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnY {
  background: url(https://img.finalfantasyxiv.com/lds/h/S/Iu1Dlr1pndAFgGy5tOe-wCmag4.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnTRIA {
  background: url(https://img.finalfantasyxiv.com/lds/h/9/dedZ0Py-RUHPvOjqCD6AUJmggs.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnB {
  background: url(https://img.finalfantasyxiv.com/lds/h/4/HHmVAV0rlCku20Dl1J8rm2ZBfM.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnCIRCLE {
  background: url(https://img.finalfantasyxiv.com/lds/h/5/2BM63txSsfpv9pb7J8WqTtPKLI.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnA {
  background: url(https://img.finalfantasyxiv.com/lds/h/Q/qShJidfjlmcF3an3ICvq5y7Q8Q.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnCROSS {
  background: url(https://img.finalfantasyxiv.com/lds/h/5/mbaSk9rnNesbg_Jc-TMH7bCLAs.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirUD {
  background: url(https://img.finalfantasyxiv.com/lds/h/_/Z7mT2EEOsIrTrft-Ow6YaVKiz0.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirLR {
  background: url(https://img.finalfantasyxiv.com/lds/h/0/OhpQjIUs6Mxp8nnNuWKm9KChBE.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirALL {
  background: url(https://img.finalfantasyxiv.com/lds/h/g/NmkMmiNNPqSZHoimYSK5xxG7_Q.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnLB {
  background: url(https://img.finalfantasyxiv.com/lds/h/1/M05Er-0jvrkL4ujgvey4jmnpo4.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnL1 {
  background: url(https://img.finalfantasyxiv.com/lds/h/c/u_FP0ZbjU7a_2OUqSx-z3D1aZI.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnRB {
  background: url(https://img.finalfantasyxiv.com/lds/h/P/ECNaCdYLN_5lD4a_x-_1XpE9Rk.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnR1 {
  background: url(https://img.finalfantasyxiv.com/lds/h/z/TGVWeXZS9zKHg9IoFJGRRyegtE.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnLwin {
  background: url(https://img.finalfantasyxiv.com/lds/h/D/tUuZmzJmPQnc6fiewEKgD1UTYc.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnL3 {
  background: url(https://img.finalfantasyxiv.com/lds/h/1/Y_i8S2B4uVYgbcXG9QQVVksioE.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnRwin {
  background: url(https://img.finalfantasyxiv.com/lds/h/n/z-F9hjxLGEYjj_kb4fDQ5w9cjM.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnR3 {
  background: url(https://img.finalfantasyxiv.com/lds/h/J/sO6dlDr45TeCZmlJQZLfT28HSo.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnSTART {
  background: url(https://img.finalfantasyxiv.com/lds/h/L/lQPp1zPu307slstf_OXtoyyu24.png);
  width: 54px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnOPTION {
  background: url(https://img.finalfantasyxiv.com/lds/h/2/QUcjV0Awa_ZTEkdyIW0ezXVGlM.png);
  width: 54px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnSELECT {
  background: url(https://img.finalfantasyxiv.com/lds/h/H/_JAPiTbhFligayzNP0ldlgyGgU.png);
  width: 54px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnPUD {
  background: url(https://img.finalfantasyxiv.com/lds/h/w/Zg1TG60VmpSoMpi2wDeMMJbwEA.png);
  width: 54px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadLstk {
  background: url(https://img.finalfantasyxiv.com/lds/h/I/UdZ_FAabC3dBWaddvBanxx0fiQ.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadLstkUD {
  background: url(https://img.finalfantasyxiv.com/lds/h/X/-90pbhlWf6yqtaCKe5JgqNatZE.png);
  width: 28px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadLstkLR {
  background: url(https://img.finalfantasyxiv.com/lds/h/g/MH8wo4og7pLQFqoF1szskYLDFw.png);
  width: 32px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadRstk {
  background: url(https://img.finalfantasyxiv.com/lds/h/v/-joFJXDkTZFoniaxDEj__P4JsM.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadRstkUD {
  background: url(https://img.finalfantasyxiv.com/lds/h/I/GteibJid4K61wIJda1Q2HWUZrI.png);
  width: 28px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadRstkLR {
  background: url(https://img.finalfantasyxiv.com/lds/h/h/0HHVht_cF6fXfel93la0USwKW8.png);
  width: 32px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnR1PS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/1/kqbF6Nqd2CoIXSC9bWxRWWmkfY.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnCIRCLEPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/x/AboqjheMiC4pwLLYxCbr002j3s.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnCROSSPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/A/C8hOmBjKQAvLY7VGafBjJxHsU8.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnL1PS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/e/EBC7mCp3hruy5w1PksaREiY6KY.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnL2PS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/8/5LCnRyId8YVDy7jwhZxtJp9dZ0.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnL3PS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/U/58y8iLvCFTdyy4T2pbnbu1hluU.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnOPTIONPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/y/8UD3QpaKqkMmwWKfETJ0gfiUv0.png);
  width: 54px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnPUDPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/X/J2NmUyWKim5mgh_y3LJPrQrVdE.png);
  width: 54px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnR2PS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/l/SovejK16sz-eFW3fqSQfJ3U6oU.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnR3PS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/U/MK6eEBY18lDCrOEP4Xpo4WY-JQ.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnRECTPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/Y/26rstCF8DhBMug14n3PgfVQriI.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadBtnTRIAPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/R/Ur8874fOKwq5BeDp0qKQZLkCNs.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirALLPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/u/MZ_Zl4SPjmwPJF1pqHAS2Ii3ZU.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirDPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/V/KClgeVAfA5x_k48hwYiFbARCJE.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirLPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/4/UeJUnj0eamJSAnwABJ10LqLkmc.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirLRPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/w/xy-HjxnedSS3VtlOVFvN5wKPRc.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirRPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/7/dPHEsK4ghoqESoygglq48-70JU.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirUDPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/7/UnIdOo1hpb_N13cDFmeNxRS4WU.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadDirUPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/U/BmEuINMPt356i808Gk97jQPj2o.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadLstkLRPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/A/zIh9JAs4iVnhhF8u5957UJBgFE.png);
  width: 32px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadLstkPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/I/rBrKdbMR62ZfD4TEVIHtpjjVGo.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadLstkUDPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/Y/MihiCQRPf8QJQhrJLPsLPeILb8.png);
  width: 28px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadRstkLRPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/s/w6wPMl7aBzAjUTkMcnZl10-uTI.png);
  width: 32px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadRstkPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/0/vpsqiT6kGaTxZ2Ox8EWfu3olMk.png);
  width: 20px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}

.PadRstkUDPS5 {
  background: url(https://img.finalfantasyxiv.com/lds/h/o/MTxwi7_ghvXS-VBuXSKS4hWRJY.png);
  width: 28px;
  height: 20px;
  background-size: auto 100%;
  display: inline-block;
  vertical-align: middle;
}
