.positivo {
  background-color: $xivita__dark-green;
  color: $xivita__white;
  text-align: center;
}

.negativo {
  background-color: $xivita__dark-red;
  color: $xivita__white;
  text-align: center;
}
